.terraform/

# Terraform local state and cache
**/.terraform/*
*.tfstate
*.tfstate.*
.crash
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform/
.terraform/

# AWS credentials and environment files
.env
*.env
.aws/
credentials

# SAM installation file
sam.zip
sam-installation/

